<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Posty</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
  </head>
  <body>
  <div class="navdiv">
      {% if user %}
        <nav>
            <a href="{{ url_for('logout') }}">Logout</a>
        </nav>
      {% else %}
        <nav>
            <a href="{{ url_for('login') }}">Sign In</a> ||
            <a href="{{ url_for('register') }}">Register</a>
        </nav>
        <h2>Log in to view recent posts!</h2>
      {% endif %}
  </div>

    <h1>Welcome {{user}} to Posty!</h1>

    <h2>Where students can connect and learn!</h2>

    <nav> <a href="/posts"> My posts </a> </nav>

    <table>
        <tr>
            <th>User</th>
            <th>Title</th>
            <th>Date</th>
            <!-- SORT BUTTON ADDED NOT YET FUNCTIONAL -->
            <th><form action="{{ url_for('filters') }}" method = "POST">
                <select name="sort" id="sort">
                    <option value="first_name">First Name</option>
                    <option value="title">Title</option>
                    <option value="date">Date</option>
                </select>
                <button type="submit">Apply filter</button>
            </form>
            </th>
        </tr>
        {% for post in posts %}
        <tr>

            <td>{{ post.first_name }}</td>
            <td>{{ post.title }}</td>
            <td>{{ post.date }}</td>
            <!-- ADDED A 'VIEW POST' LINK TO CLICK INSTEAD OF CLICKING ON THE TITLE OF THE POST -->
            <td><a href="{{ url_for('get_post', post_id=post.id) }}">View Post</a></td>

        </tr>
        {% endfor %}
    </table>
  </body>
</html>
