<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="3155 Project">
        <title>3155 Project</title>
        <link type="text/css" rel="stylesheet" href="static/style.css">
    </head>
    <body>
        <form action="login" method="login">
            <h1>POSTY</h1>
            <h2>Where students can connect and learn!</h2>
            <input type="text" id="Uname" placeholder="Username" name="Uname" required><br><br>
            <input type="password" id="Pword" placeholder="Password" name="psw" required><br><br>
            <button type="submit">Login</button><br>
            <nav> <a href="/registration">Sign Up</a> </nav>
        </form>
    </body>
</html>
