<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="3155 Project">
    <title>Posty - New Post</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<nav>
    <a href="{{ url_for('index') }}"> Home</a> ||
    <a href="{{ url_for('get_posts') }}"> My Posts</a> ||
    <a href="{{ url_for('new_post') }}">Add Post</a> ||
    <a href="{{ url_for('logout') }}">Logout</a>
</nav>

<h1>Add your new post!</h1><br>
{% if post %}
    <form action="{{ url_for('update_post', post_id=post.id) }}" method="post">
        {% else %}
            <form action="new" method="post">
                {% endif %}
                <p><label>Title</label></p>
                <p><input type="text" name="title" value="{% if post %}{{post.title}} {% endif %}"/></p>
                <p>
                    <textarea name="postText"  rows="6" cols="0">
                    {% if post %}
                        {{post.text}}
                    {%else %}
                        Add your post or question here ...
                    {% endif %}
                </textarea>
                </p>
            <!--<input type="text" id="url" placeholder="Add image link here ... ">-->
                <p>
                    {% if post %}
                        <input type="submit" value="Update Post">
                    {% else %}
                        <input type="submit" value="Add Post">
                    {% endif %}
                </p>
                 <!-- IMAGE LINK TEXTBOX HERE NOT YET FUNCTIONAL -->
                <p><input type="url" id="url" placeholder="Add image link here ... "/></p>
                <p>
                    {% if post %}
                        <input type="submit" value="Update Post">
                    {% else %}
                        <input type="submit" value="Add Post">
                    {% endif %}
                </p>
</form>
</body>
</html>
