<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="3155 Project">
    <title>Posty - View your Post</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<nav>
    <a href="{{ url_for('index') }}"> Home</a> ||
    <a href="{{ url_for('get_posts') }}"> My Posts</a> ||
    <a href="{{ url_for('new_post') }}">Add Post</a> ||
    <a href="{{ url_for('logout') }}">Logout</a>
</nav>

<h1> Post details </h1>

<table>
    <tr>
        <th>Title</th>
        <th>Text</th>
        <th>Date</th>
        <!-- ADDED HEADERS FOR LIKES/DISLIKES -->
        <th>Liked</th>
        <th>Disliked</th>
    </tr>
    <tr>
        <td>{{ post.title }}</td>
        <td>{{ post.text }}</td>
        <td>{{ post.date }}</td>
        <!-- ADD VARIABLE BELOW THAT CAN ACCESS A LIKE/DISLIKE DATABASE -->
        <td>ADD LIKE COUNTER VARIABLE HERE</td>
        <td>ADD DISLIKE COUNTER VARIABLE HERE</td>
    </tr>
    <tr>
        <!-- ADDED SPOT FOR IMAGE LINK TO BE DISPLAYED HERE -->
        <!-- THE TEXT SHOULD BE REPLACED WITH THE NEW VARIABLE FOR THE STORED IMG LINK -->
        <!-- ADD URL TO THE LINKS.HTML PAGE IN THE HREF ATTRIBUTE -->
        <td colspan="100%"><a href="#">Add a variable here so that the image link shows up, <br>
            this should redirect you to the links.html page when it is clicked so that you
            can view the full size image</a></td>
    </tr>
</table>
<!-- ADDED LIKE BUTTON, DISLIKE BUTTON, AND REPLY BUTTON NOT YET FUNCTIONAL -->
<table>
    <tr>
        <th><form action="#" method="#">
            <input type="submit" value="Like">
        </form></th>
        <th><form action="#" method="#">
            <input type="submit" value="Dislike">
        </form></th>
        <th><form action="#" method="#">
            <input type="submit" value="Reply">
        </form></th>
    </tr>
</table>
    {% if post.comments %}
        {% if post.comments|length > 0 %}
            <h2>Comments</h2>
            <ul>
            {% for comment in post.comments %}
                <li>{{ comment.content }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endif %}
<form action="{{ url_for('new_comment', post_id=post.id) }}" method="post">
    <div class="formwrapper">
        <h2 class="title">Add a comment</h2>
            <div class="form-field">
                {{ form.comment.label }} <br/> {{ form.comment }}
            </div>
        {{ form.submit }}
    </div>
</form>

</body>
</html>
