<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="3155 Project">
    <title>3155 Project</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<form action="newPost.html" method="post">
    <button type="submit" value="Post">Post</button><br><br>
    <!-- {% for post in posts %} -->

    <table>
        <tr>
            <th colspan="100%">put variable for post content here</th>
        </tr>
        <tr>
            <td><button type="button">Reply</button></td>
            <td><button type="button">Like</button></td>
            <td><button type="button">Dislike</button></td>
        </tr>

        <!-- {% for reply in replies %} -->
        <tr>
            <td colspan="100%">variable for reply content here</td>
        </tr>
        <!-- {% endfor %} -->
    </table>
    <!-- {% endfor %} -->
</form>


</body>
</html>