<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="3155 Project">
    <title>3155 Project</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Posty</title>
</head>
<body>
<!--<form method="post">-->
    <nav>
        <a href="{{ url_for('index') }}"> Home</a> ||
        <a href="{{ url_for('get_posts') }}"> My Posts</a> ||
        <a href="{{ url_for('new_post') }}">Add Post</a> ||
        <a href="{{ url_for('logout') }}">Logout</a>
    </nav>
    <h1> Welcome {{user}} to Posty!</h1>
<br>

    <h2> Recent Posts </h2><br>

    <table>
        <tr>
            <th>Title</th>
            <th>Date</th>
            <!-- SORT BUTTON ADDED NOT YET FUNCTIONAL -->
            <th colspan="3"><form action="#" method="#">
                <input type="submit" value="Sort by Name">
            </form></th>
        </tr>
        {% for post in posts %}
        <tr>
            <td>{{ post.title }}</a></td>
            <td>{{ post.date }}</td>
            <!-- ADDED A 'VIEW POST' LINK TO CLICK INSTEAD OF CLICKING ON THE TITLE OF THE POST -->
            <td><a href="{{ url_for('get_post', post_id=post.id) }}">View Post</a></td>
            <td><a href="{{ url_for('update_post', post_id=post.id) }}">Edit Post</a></td>
            <td>
                <form action="{{ url_for('delete_post', post_id=post.id) }}" method="post">
                    <input type="submit" value="Delete">
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
